__dependents_rules__ = [
  {"type": "tag", "tag": "entrypoint-consumer"},
]

python_sources(
  name="entrypoints",
  tags=["svc:{{ service_name }}", "layer:entrypoints"],
  dependencies=[
    "//services/{{ service_name }}/src/{{ service_pkg }}/adapters:adapters",
    "//services/{{ service_name }}/src/{{ service_pkg }}/application:application",
    "//services/{{ service_name }}/src/{{ service_pkg }}/ports:ports",
    "//services/{{ service_name }}/src/{{ service_pkg }}/domain:domain",
    "//shared/foundation:lib",
  ],
)
